/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_directory .
 *= require fancybox
 *= require_self
 */


.images img {
	width: 100%;
	/*height: 100%;*/
	overflow: hidden;
}
.row {
	margin-bottom: 8px;
}
.column, .columns {
	margin-left: 2%;
}
div.four:hover {
	opacity: 0.9;
}
#title {
	color: black;
    margin: auto;
    width: 30%;
    padding: 10px;
}
.body#home {
	height: 60%;
	width: 100%;
	overflow: hidden;
}
.bottom {
	position: absolute;
	bottom: 10px;
	width: 100%;
	line-height: 1.2;
}
.bottom p {
	padding: 0;
	margin: 0;
	font-weight: 200;
}
.center {
	margin: 0 auto;
}
.container_images img {
	margin-bottom: 10px;
}