/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_directory .
 *= require_self
 */


.images img {
	width: 100%;
	/*height: 100%;*/
	overflow: hidden;
}
.row {
	margin-bottom: 11px;
}
.column, .columns {
	margin-left: 2.5%;
}
#video iframe {
	/*display: none;*/
	width: 930px;
	height: 500px;
	background-color: black;
}
#video {
	height: 500px;
	display: none;
}
div.four:hover {
	opacity: 0.9;
}