/*
    Author: Bryant Hughes : : www.thegoodlab.com
*/
/*****************************
RESETS
*****************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, 
hgroup, menu, nav, section, menu,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 font-size: 100%;
 vertical-align: baseline;
 background: transparent;
} 
body { line-height: 1 } 
html { -webkit-font-smoothing: antialiased; }
article, aside, figure, footer, header, 
hgroup, nav, section { display: block; }

nav ul { list-style-type: none }


a { margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; background: transparent; text-decoration: none;}


/* tables still need cellspacing="0" in the markup */
table { border-collapse: collapse; border-spacing: 0 }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0 }

/* bicubic resizing for non-native sized */
.ie7 img { -ms-interpolation-mode: bicubic }
/* END RESET CSS */

html, body {
 margin: 0 0 1px;
 padding: 0;
}

html, 
body.home,
body.photo
{
    height: 100%;
    min-height: 100%;
}

/*****************************
S T A R T
*****************************/
body{
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
margin: 0;
}
/*****************************
H E A D E R
*****************************/
header{
 background-color: #fff;
 position: fixed;
 padding-top: 15px;
 width: 100%;
 z-index: 100;
 height: 80px;
 top: 0;
 text-align: center !important;
}
#header-content{
 margin: 0 auto 0 auto;
 text-align: center !important;
/* width: 1010px; */
}
header h1{
 margin: 0 auto;
 font-size: 40px;
 font-family: "AvenirNext-Regular"
}
header ul{
 margin: 0px auto;
 margin-bottom: 1px;
 text-align: center;
 max-width: 349px;
}
header ul li{
 float: left;
 line-height: 10px;
 list-style-type: none;
}
header ul li + li{
 margin-left: 30px;
}
header ul li a{
 /*color: #7d7d7d;*/
 color: #000;
 font-size: 16px;
 line-height: 10px;
 text-decoration: none;
 font-weight: 400;
 
 -webkit-transition: color 300ms linear;
 -moz-transition: color 300ms linear;
 -o-transition: color 300ms linear;
 transition: color 300ms linear;
}
header ul li a:hover
{
    color: #000;
}

#myID {

}

.here,
.parent-here
{
    font-weight: bold;
    cursor: default;
}

/*****************************
C O N T E N T
*****************************/
#content
{
    position: relative;
    margin: auto 0;
    z-index: 1;
/*  width: 1010px !important; */
    width: 80% !important;
}
/*****************************
L A N D I N G
*****************************/
#content.home,
#content.photo
{
 padding: 76px 0 0 0;
 position: relative;
 margin: 0 auto;
 text-align: center;

/* width: 1010px; */
}
/*****************************
F A D E
*****************************/
#content.fade{
 padding-top: 76px;
 position: relative;
 margin: 0 auto;
 text-align: center;
 width: 1010px;
}
#content.fade .slideshow{
 margin: 0 auto;
}
.landing-photo{
 display: none;
 position: absolute;
 left: 0;
 top: 0;
}
.landing-photo.active{
 display: block;
}
