#video {
  height: 500px;
  margin-bottom: 5px;
  margin-left: 1%;
  display: none;
  overflow: hidden;
}
.container_videos {
  max-width:960px;
  width:85%;
  overflow: hidden;
}
.video_image img {
  /*width: 346px;*/
  /*height: 220px;*/
  height: 100%;
  /*height: 100%;*/
}
.video_image_container {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  margin-left: 1%;
  width: 32.334%;
  height: 200px;
  border: 0px solid #000;
  margin-bottom: 1%;
  text-align: center;
  float: left;
  background-size: contain;
  &:hover {
    opacity: 0.9;
  }
  a {
    height: 100%;
    width: 100%;
    display: block;
    img {
        height: 100%;
    }
   }
}